@page
@model Homework2Bouzihay.Pages.DateSearchModel
@{
    var date = HttpContext.Request.Query["date"];
    var travelerID = HttpContext.Request.Query["travelerID"];
}
<head>
    
        <link rel="stylesheet" type="text/css" href="css/site.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<html>
<body>
    <h2 class="bigger-title centered-title">Thank you for selecting a date! </h2>

    <div class="dateSearchContainer">
        <div>
            <h2>Please enter your Traveler ID to get your packing recommendation. </h2>
            <label for="travelerIDInput">Traveler ID:</label>
            <input class="bigger-select" type=" text" id="travelerIDInput" />
            <br />
            <label for="dateInput">Date:</label>
            <input class="bigger-select" type=" text" id="dateInput" />
            <br />
            <button class="btn btn-primary" onclick="getRecommendations()">Get Recommendations</button>
        </div>

        <div class="dateSearchPics">
            <img src="~/Pakcing.jpg" alt="Packing">
            <img src="/Trip.jpg" alt="Trip">
        </div>
    </div>

    <div>
        <h3>Recommendation Details</h3>
        <div class="weather-chart">
            <div class="weather-item">
                <h3 class="weather-title">TravelerID:</h3>
                <div id="travelerID" class="weather-data"><span></span></div>
            </div>
        </div>
        <div class="weather-chart">
            <div class="weather-item">
                <h3 class="weather-title">Date:</h3>
                <div id="date" class="weather-data"><span></span></div> <!-- Corrected ID -->
            </div>
        </div>
        <div class="weather-chart">
            <div class="weather-item">
                <h3 class="weather-title">Recommendations:</h3>
                <div id="recommendations" class="weather-data"><span></span></div>
            </div>
        </div>

    </div>
    <script type="module">
        DateResults("@date");
        fetchRecommendations("@travelerID", "@date");
        document.getElementById('dateInput').value = "@date";
    </script>
</body>
</html>