@page
@model Homework2Bouzihay.Pages.DateSearchModel
@{
    var date = HttpContext.Request.Query["date"];
    var travelerID = HttpContext.Request.Query["travelerID"];
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<html>
<body>
    <h2>The Date you have selected for this trip is </h2>

    <div>
        <h2>Get Packing Recommendations</h2>
        <label for="travelerIDInput">Traveler ID:</label>
        <input type="text" id="travelerIDInput" />
        <br />
        <label for="dateInput">Date:</label>
        <input type="text" id="dateInput" />
        <br />
        <button onclick="getRecommendations()">Get Recommendations</button>
    </div>
    <div>
        <h3>Recommendation Details</h3>
        <div class="weather-chart">
            <div class="weather-item">
                <h3 class="weather-title">TravelerID:</h3>
                <div id="travelerID" class="weather-data"><span></span></div>
            </div>
        </div>
        <div class="weather-chart">
            <div class="weather-item">
                <h3 class="weather-title">Date:</h3>
                <div id="date" class="weather-data"><span></span></div> <!-- Corrected ID -->
            </div>
        </div>
        <div class="weather-chart">
            <div class="weather-item">
                <h3 class="weather-title">Recommendations:</h3>
                <div id="recommendations" class="weather-data"><span></span></div>
            </div>
        </div>

    </div>
    <script type="module">
        DateResults("@date");
        fetchRecommendations("@travelerID", "@date");
        document.getElementById('dateInput').value = "@date";
    </script>
</body>
