@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Packwise - Your Packing Companion</title>
<style>
    
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

  
    header {
        background-color: #007bff;
        color: white;
        padding: 20px;
        text-align: center;
    }

  
    main {
        padding: 20px;
    }

    
    }
</style>
</head>

<body>
    <!-- Header -->
    <header>
        <h1>Welcome to Packwise</h1>
        <p>Your Packing Companion</p>
    </header>

    <!-- Main Content -->
    <main>
        <h2>Popular Destinations</h2>
        <ul>
            <li>Paris</li>
            <li>Tokyo</li>
            <li>New York</li>
        </ul>

    </main>
    <h2> Travel Budget</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Destination</th>
                <th scope="col">Paris</th>
                <th scope="col">Marrakesh</th>
                <th scope="col">Gaza</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <th scope="row">Transportation</th>
                <td>$300</td>
                <td>$100</td>
                <td>$370</td>
            </tr>

            <tr class="table-primary">
                <th scope="row">Accomodation</th>
                <td>$300</td>
                <td>$150</td>
                <td>$200</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">Meals</th>
                <td>$200</td>
                <td>$100</td>
                <td>$150</td>
            </tr>

            <tr class="table-danger">
                <th scope="row">Activities</th>
                <td>$250</td>
                <td>$180</td>
                <td>$95</td>
            </tr>

        </tbody>
    </table>


    <button type="button" class="btn btn-primary">
        <a href="/PersonalizedPackingRecommendations"> Personalized Packing Recommendations</a>
    </button>

    <button type="button"
            onclick="document.getElementById('demo').innerHTML = Date()">
        Date and Time
    </button>
    <p id="demo"></p>

</body>

</html>
}
