@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Packwise - Your Packing Companion</title>
<style>
    
    body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }


        header {
            background-color: #007bff;
            color: white;
            padding: 20px;
            text-align: center;
            border-radius: 20px; 
            margin-bottom: 20px;
        }

  
    main {
        padding: 20px;
    }

    
    
</style>
</head>

<body>
    
    <header>
        <h1>Welcome to Packwise</h1>
        <p>Your Packing Companion</p>
    </header>

    <div class="about-section">
        <h2>About Packwise</h2>
        <p>Welcome to Packwise, your ultimate travel companion! At Packwise, we're passionate about enhancing your travel experience by simplifying the packing process and helping you make the most out of every trip.</p>
        <p>Our mission is to revolutionize travel preparation by seamlessly integrating innovative concepts into a single application. By leveraging cutting-edge technology, we provide personalized packing recommendations tailored to your destination's weather and your planned activities.</p>
        <p>With Packwise, you can say goodbye to overpacking and the stress of forgetting essential items. Our intuitive platform ensures that you're well-prepared for any adventure, whether it's a relaxing beach getaway or an action-packed outdoor expedition.</p>
        <p>Join us on our journey to redefine travel planning and make every trip unforgettable. Packwise - because every journey deserves smart packing!</p>
        
    </div>

    <button type="button" class="btn btn-primary">
        <a href="/ExploreActivities">Explore Activities</a>
    </button>
    <button type="button" class="btn btn-primary">
        <a href="/TravelBudget"> Travel Budget</a>
    </button>
    <button type="button" class="btn btn-primary">
        <a href="/SelectTripDates"> Get Your Personalized Packing Recommendation</a>
    </button>


</body>

</html>

