@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Packwise - Your Packing Companion</title>
<style>
    
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

  
    header {
        background-color: #007bff;
        color: white;
        padding: 20px;
        text-align: center;
    }

  
    main {
        padding: 20px;
    }

    
    }
</style>
</head>

<body>
    <!-- Header -->
    <header>
        <h1>Welcome to Packwise</h1>
        <p>Your Packing Companion</p>
    </header>

   

    <button class="btn">
        <a href="/ExploreActivities">Explore Activities</a>
    </button>
    <button type="button" class="btn btn-primary">
        <a href="/PersonalizedPackingRecommendations"> Personalized Packing Recommendations</a>
    </button>


    <p id="demo"></p>

    <button type="button" class="btn btn-primary">
        <a href="/SelectTripDates"> Get Your Personalized Packing Recommendation</a>
    </button>

</body>

</html>
}
