@page
@model Homework2Bouzihay.Pages.SelectTripDatesModel
@{
    
}
<head>
    <link rel="stylesheet" type="text/css" href="css/site.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="bigger-title centered-title">What we Offer</h1>

    <div class="offer-category">
        <h2>Hiking</h2>
        <p>Explore the great outdoors with our hiking trips.<br>Find amazing views with a variety of trails</p>
        <img src="Hiking.jpg" alt="Hiking" class="offer-picture">
    </div>
    
    <div class="offer-category">
        <h2>Beach</h2>
        <p>Nothing beats the sensation of relaxing when your at the beach.<br>You get to enjoy many different activities that involve the sand and ocean.</p>
        <img src="Beach.jpg" alt="Beach" class="offer-picture">
    </div>

    <div class="offer-category">
        <h2>Skiing</h2>
        <p>Reach an adrenaline rush going down different slopes.<br>Once you finish up you can find your self in a resort full of many activities.</p>
        <img src="Skiing.jpg" alt="Skiing" class="offer-picture">
    </div>

    <div class="offer-category">
        <h2>Camping</h2>
        <p>Embark on an unforgettable adventure as you connect with nature and create lasting memories under the starlit sky during our camping expeditions.</p>
        <img src="Camping.jpg" alt="Camping" class="offer-picture"> 
    </div>
    
        <form id="selectTripForm" action="/TripNames" method="get">
        <label for="categoryName">Select Category:</label>
        <select id="categoryName" name="categoryName" class="bigger-select">
            <option value="Hiking">Hiking</option>
            <option value="Beach">Beach</option>
            <option value="Skiing">Skiing</option>
            <option value="Camping">Camping</option>
        </select>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <div id="selectedCategory"></div>

</body>


