@page
@model Homework2Bouzihay.Pages.SelectTripDatesModel
@{
    
}
<head>
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<body>
    <h1>Select Trip Category</h1>

    <form id="selectTripForm" action="/TripNames" method="get">
        <label for="categoryName">Select Category:</label>
        <select id="categoryName" name="categoryName">
            <option value="Hiking">Hiking</option>
            <option value="Beach">Beach</option>
            <option value="Skiing">Skiing</option>
            <option value="Camping">Camping</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <div id="selectedCategory"></div>

</body>
</html>

