@page
@model Homework2Bouzihay.Pages.TravelBudgetModel
@{
}
<head>
    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<h2> Travel Budget</h2>

<h6> These are the current average spending budgets for a 4-5 day trip to these popular destinations.</h6>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Destination</th>
            <th scope="col">Paris</th>
            <th scope="col">Marrakesh</th>
            <th scope="col">Gaza</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th scope="row">Transportation</th>
            <td>$300</td>
            <td>$100</td>
            <td>$370</td>
        </tr>

        <tr class="table-primary">
            <th scope="row">Accomodation</th>
            <td>$300</td>
            <td>$150</td>
            <td>$200</td>
        </tr>
        <tr class="table-secondary">
            <th scope="row">Meals</th>
            <td>$200</td>
            <td>$100</td>
            <td>$150</td>
        </tr>

        <tr class="table-danger">
            <th scope="row">Activities</th>
            <td>$250</td>
            <td>$180</td>
            <td>$95</td>
        </tr>

    </tbody>


</table>

<h6> Disclaimer: These prices do not include flight fare.</h6>